<div class="Container-userdata">
  <div class="Container-headline">
    <h1>Benutzerdaten</h1>
  </div>

  <div Class="container-form">
    <h3>Grundformular</h3>
  </div>

  <div class="container-body">
    <div>
      <div class="container-input">
        <div class="username">
          <input type="text" placeholder="Benutzername">
        </div>
        <div class="email">
          <input type="email" placeholder="E-Mail Address">
        </div>
      </div>
      <div class="container-value">
        <input type="text" value="2 hardcoded" readonly>
      </div>
    </div>

  </div> <!-- end of container-body -->
</div>
