<div class="container-header">
  <div class="container-logo">
    <img class="logo" src="./assets/images/Logo.png" routerLink="/overview" />
  </div>
  <div class="LoggedIn-user">
    <h1><b>Benutzerdaten</b></h1>
  </div>
  <div></div>
</div>

<form (submit)="changes()" class="usersettings">
  <div class="container-body">
    <div class="container-headline">
      <h1>Grundformular</h1>
    </div>

    <div class="container-help1">
      <div class="userStuff">
        <div class="container-input">
          <div class="username">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Benutzername</mat-label>
              <input
                name="changeUsername"
                matInput
                [(ngModel)]="changeUsername"
                (click)="checkChanges()"
                placeholder="{{ loggedInUserName }}"
              />
            </mat-form-field>
          </div>
          <div class="email">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>E-Mail</mat-label>
              <input
                name="changeEmail"
                matInput
                [(ngModel)]="changeEmail"
                (click)="checkChanges()"
                placeholder="{{ loggedInEmail }}"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="container-value">
          <mat-form-field class="example-full-width" appearance="fill">
            <input
              matInput
              placeholder="UserID {{ loggenInUserID }}"
              disabled
            />
          </mat-form-field>
        </div>
        <div class="container-buttons">
          <div class="saveButton">
            <input
              type="submit"
              value="Speichern"
              class="btn btn-outline-secondary"
              [disabled]="isDisabled"
            />
          </div>
          <div class="backButton">
            <input
              type="submit"
              routerLink="/overview"
              value="Zurück"
              class="btn btn-outline-secondary"
            />
          </div>
        </div>
      </div>

      <div class="container-userPicture">
        <div class="userPicture">
          <input class="image" type="image" src="{{ profileImage }}" />
        </div>
      </div>
      <!-- end of userPicture-->
    </div>
    <!-- end of userStuff-->
  </div>
  <!-- end of container-body -->
</form>
