<form (submit)="changes()" class="usersettings">
  <div class="container-body">
    <div class="container-help1">
      <div class="userStuff">
        <div class="container-headline">
          <heading
          [value]="'Anderes Formular'"
          (notify)="onNotify($event)"
          ></heading>
        </div>
        <div class="container-input">
          <div class="username">
            <mat-form-field class="example-full-width">
              <mat-label>Benutzername</mat-label>
              <input
                matInput
                type="text"
                name="changeUsername"
                [value]="changeUsername"
                (input)="checkDisabled()"
                placeholder="{{ loggedInUserName }}"
              />
            </mat-form-field>
          </div>
          <div class="email">
            <mat-form-field class="example-full-width">
              <mat-label>E-Mail</mat-label>
              <input
                type="text"
                name="changeEmail"
                matInput
                [value]="changeEmail"
                (input)="checkDisabled()"
                placeholder="{{ loggedInEmail }}"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="container-value">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="UserID {{ loggenInUserID }}"
              disabled
            />
          </mat-form-field>
        </div>
        <div class="container-buttons">
          <div class="saveButton">
            <button mat-raised-button color="primary"
              type="submit"
              class="btn btn-outline-secondary"
              [disabled]="isDisabled"
              >Speichern
            </button>
          </div>
          <div class="backButton">
            <button mat-raised-button color="primary"
              type="button"
              routerLink="/overview"
              class="btn btn-outline-secondary"
              >Zurück
            </button>
          </div>
        </div>
      </div>

      <div class="container-userPicture">
        <div class="userPicture">
          <input class="image" type="image" src="{{ profileImage }}" />
        </div>
      </div>
      <!-- end of userPicture-->
    </div>
    <!-- end of userStuff-->
  </div>
  <!-- end of container-body -->
</form>
