<div class="container-overview">
  <div class="container-body">
    <div class="container-table">
      <all-todos *ngIf="isShow" [isCleard]="isDeleted"></all-todos>
    </div>
    <!-- end of container-table -->

    <div class="container-newEntries">
      <div class="add-new-entry">
        <h2><b>Neues ToDo anlegen</b></h2>
        <form (submit)="addTodo()">
          <div class="newTodo">
            <div class="fields-container">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  id="inputValue"
                  #inputValue
                  (input)="isButtonDisabled = inputValue.value.length"
                  name="inputTodo"
                  class="todo-input"
                  placeholder="ToDo Name"
                  [(ngModel)]="inputTodo"
                />
              </mat-form-field>
            </div>
            <div class="buttons">
              <button
                mat-raised-button color="primary"
                disabled="{{isButtonDisabled == 0}}"
                type="submit"
                >ToDo anlegen
              </button>
              <button
                mat-raised-button color="primary"
                type="button"
                class="destroy"
                (click)="destroyOnClick()"
                >Alle löschen
              </button>
              <button
                mat-raised-button color="primary"
                type="button"
                class="destroy"
                (click)="restore()"
                >Wiederherstellen
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of add-new-entry -->
    </div>
    <!-- end of container-newEntries -->
  </div>
  <!-- end of container-body -->
</div>
<!-- end of container-overview -->
