<div class="container-overview">

  <div class="container-body">

    <div class="container-table">
      <table class="table" *ngIf="todos.length">
        <tbody>
          <tr *ngFor="let todo of todos; let i = index;trackBy:trackByIdx">
            <td class="status">
              <span>
                <input type="checkbox" [checked]="todo.completed" (change)="todo.completed = !todo.completed">
              </span>
            </td>
              <td class="description" style=" width: 100%;">
                <input
                  class="edited"
                  type="text"
                  [readonly]="isEdit"
                  [(ngModel)]="todos[i].title"
                  />
              </td>
              <td class="edit">
                <div>
                  <mat-icon fontIcon="edit" (click)="edit(todo.id)"></mat-icon>
                </div>
              </td>
            <td class="delete"><mat-icon fontIcon="delete" (click)="delete(todo.id)"></mat-icon></td>
          </tr>
        </tbody>
      </table>

    </div> <!-- end of container-table -->


    <div class="container-newEntries">

      <div class="add-new-entry">

          <h2>Neues ToDo anlegen</h2>
          <div class="newTodo">
            <div class="input-group mb-3">
              <form (submit)="addTodo()">
                <div>
                <input
                    type="text"
                    name="inputTodo"
                    class="todo-input"
                    placeholder="Neues ToDo"
                    [(ngModel)]="inputTodo"
                  />
                </div>
                <div>
                <input type="submit" value="Hinzufügen" class="btn btn-outline-secondary"/>
                </div>
              </form>
            </div>
          </div>

      </div> <!-- end of add-new-entry -->

    </div> <!-- end of container-newEntries -->

  </div> <!-- end of container-body -->

</div> <!-- end of container-overview -->
